@import "tailwindcss";
@import "tw-animate-css";

html {
  scroll-behavior: smooth;
}

/* Utilities para Tailwind */
@layer utilities {
  .font-playfair {
    font-family: var(--font-playfair);
  }
  .font-dmsans {
    font-family: var(--font-dmsans);
  }
  .font-lexend {
    font-family: var(--font-lexend);
  }
}

@theme {
  --color-tipo: #333;
  --color-secundario: #94A11A;
  --color-brand: #4f5516;
  --color-separator: #CCC3B0;
  --color-tipoclara: #717171;
}