@import "tailwindcss";
@import "tw-animate-css";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Playfair+Display:wght@400;700&family=DM+Sans:wght@400;700&display=swap');

@theme {
  --font-lexend: "Lexend", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-dmsans: "DM Sans", sans-serif;

  --color-tipo: #333;
  --color-secundario: #94A11A;
  --color-brand: #4f5516;
  --color-separator: #CCC3B0;
  --color-tipoclara: #717171;
}